LeaveRequestStateMachine.asl.json
{
  "Comment": "SmartLeave: immediate decisions, with 48h inactivity watchdog for manager and HR",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "Parameters": {
        "request_id.$": "$.request_id",
        "employee_id.$": "$.employee_id",
        "leave_type.$": "$.leave_type",
        "start_date.$": "$.start_date",
        "end_date.$": "$.end_date",
        "total_days.$": "$.total_days",
        "employee_email.$": "$.employee_email",
        "manager_email.$": "$.manager_email",
        "manager_checks": 0,
        "hr_checks": 0
      },
      "Next": "SendManagerApprovalLinks"
    },
    "SendManagerApprovalLinks": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ManagerApproval",
        "Payload.$": "$"
      },
      "ResultPath": "$.manager_approval",
      "Next": "WaitManagerCheck"
    },
    "WaitManagerCheck": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "GetAfterManagerCheck"
    },
    "GetAfterManagerCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "GetLeaveRequestStatus",
        "Payload": {
          "request_id.$": "$.request_id"
        }
      },
      "ResultPath": "$.request_state",
      "Next": "EvaluateManagerResult"
    },
    "EvaluateManagerResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "REJECTED",
          "Next": "EndCompleted"
        },
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "APPROVED",
          "Next": "EndCompleted"
        },
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "HR_APPROVED",
          "Next": "EndCompleted"
        },
        {
          "And": [
            {
              "Variable": "$.request_state.Payload.status",
              "StringEquals": "MANAGER_APPROVED"
            },
            {
              "Variable": "$.total_days",
              "NumericGreaterThan": 5
            }
          ],
          "Next": "WaitHrCheck"
        },
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "PENDING",
          "Next": "IncrementManagerChecks"
        }
      ],
      "Default": "EndCompleted"
    },
    "IncrementManagerChecks": {
      "Type": "Pass",
      "Parameters": {
        "request_id.$": "$.request_id",
        "employee_id.$": "$.employee_id",
        "leave_type.$": "$.leave_type",
        "start_date.$": "$.start_date",
        "end_date.$": "$.end_date",
        "total_days.$": "$.total_days",
        "employee_email.$": "$.employee_email",
        "manager_email.$": "$.manager_email",
        "manager_checks.$": "States.MathAdd($.manager_checks, 1)",
        "hr_checks.$": "$.hr_checks"
      },
      "Next": "ManagerTimeoutCheck"
    },
    "ManagerTimeoutCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.manager_checks",
          "NumericGreaterThanEquals": 2880,
          "Next": "EscalateManagerInaction"
        }
      ],
      "Default": "WaitManagerCheck"
    },
    "WaitHrCheck": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "GetAfterHrCheck"
    },
    "GetAfterHrCheck": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "GetLeaveRequestStatus",
        "Payload": {
          "request_id.$": "$.request_id"
        }
      },
      "ResultPath": "$.request_state",
      "Next": "EvaluateHrResult"
    },
    "EvaluateHrResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "REJECTED",
          "Next": "EndCompleted"
        },
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "APPROVED",
          "Next": "EndCompleted"
        },
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "HR_APPROVED",
          "Next": "EndCompleted"
        },
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "MANAGER_APPROVED",
          "Next": "IncrementHrChecks"
        }
      ],
      "Default": "EndCompleted"
    },
    "IncrementHrChecks": {
      "Type": "Pass",
      "Parameters": {
        "request_id.$": "$.request_id",
        "employee_id.$": "$.employee_id",
        "leave_type.$": "$.leave_type",
        "start_date.$": "$.start_date",
        "end_date.$": "$.end_date",
        "total_days.$": "$.total_days",
        "employee_email.$": "$.employee_email",
        "manager_email.$": "$.manager_email",
        "manager_checks.$": "$.manager_checks",
        "hr_checks.$": "States.MathAdd($.hr_checks, 1)"
      },
      "Next": "HrTimeoutCheck"
    },
    "HrTimeoutCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.hr_checks",
          "NumericGreaterThanEquals": 2880,
          "Next": "EscalateHrInaction"
        }
      ],
      "Default": "WaitHrCheck"
    },
    "EscalateManagerInaction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "EscalateManagerInaction",
        "Payload": {
          "request_id.$": "$.request_id",
          "employee_id.$": "$.employee_id",
          "stage": "MANAGER",
          "note": "Manager has not acted within 48 hours."
        }
      },
      "ResultPath": "$.manager_escalation",
      "Next": "NotifyManagerEscalation"
    },
    "EscalateHrInaction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "EscalateManagerInaction",
        "Payload": {
          "request_id.$": "$.request_id",
          "employee_id.$": "$.employee_id",
          "stage": "HR",
          "note": "HR has not acted within 48 hours."
        }
      },
      "ResultPath": "$.hr_escalation",
      "Next": "NotifyHrEscalation"
    },
    "NotifyManagerEscalation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "SendEmployeeNotification",
        "Payload": {
          "request_id.$": "$.request_id",
          "employee_email.$": "$.employee_email",
          "leave_type.$": "$.leave_type",
          "start_date.$": "$.start_date",
          "end_date.$": "$.end_date",
          "status": "ESCALATED_MANAGER"
        }
      },
      "Next": "EndCompleted"
    },
    "NotifyHrEscalation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "SendEmployeeNotification",
        "Payload": {
          "request_id.$": "$.request_id",
          "employee_email.$": "$.employee_email",
          "leave_type.$": "$.leave_type",
          "start_date.$": "$.start_date",
          "end_date.$": "$.end_date",
          "status": "ESCALATED_HR"
        }
      },
      "Next": "EndCompleted"
    },
    "EndCompleted": {
      "Type": "Succeed"
    }
  }
}
