LeaveRequestStateMachine.asl.json
{
  "Comment": "SmartLeave Approval Workflow with Manager/HR stages and 48h escalation",
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "Parameters": {
        "request_id.$": "$.request_id",
        "employee_id.$": "$.employee_id",
        "leave_type.$": "$.leave_type",
        "start_date.$": "$.start_date",
        "end_date.$": "$.end_date",
        "total_days.$": "$.total_days",
        "employee_email.$": "$.employee_email",
        "manager_email.$": "$.manager_email",
        "manager_checks": 0,
        "hr_checks": 0
      },
      "Next": "SendManagerApprovalLinks"
    },
    "SendManagerApprovalLinks": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "ManagerApproval",
        "Payload.$": "$"
      },
      "ResultPath": "$.manager_approval",
      "Next": "WaitManagerDecision"
    },
    "WaitManagerDecision": {
      "Type": "Wait",
      "Seconds": 1800,
      "Next": "GetRequestAfterManagerWait"
    },
    "GetRequestAfterManagerWait": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "GetLeaveRequestStatus",
        "Payload": {
          "request_id.$": "$.request_id"
        }
      },
      "ResultPath": "$.request_state",
      "Next": "EvaluateManagerDecision"
    },
    "EvaluateManagerDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "REJECTED",
          "Next": "NotifyRejected"
        },
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "MANAGER_APPROVED",
          "Next": "CheckLeaveDuration"
        }
      ],
      "Default": "IncrementManagerChecks"
    },
    "IncrementManagerChecks": {
      "Type": "Pass",
      "Parameters": {
        "request_id.$": "$.request_id",
        "employee_id.$": "$.employee_id",
        "leave_type.$": "$.leave_type",
        "start_date.$": "$.start_date",
        "end_date.$": "$.end_date",
        "total_days.$": "$.total_days",
        "employee_email.$": "$.employee_email",
        "manager_email.$": "$.manager_email",
        "manager_checks.$": "States.MathAdd($.manager_checks, 1)",
        "hr_checks.$": "$.hr_checks"
      },
      "Next": "ManagerTimeoutCheck"
    },
    "ManagerTimeoutCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.manager_checks",
          "NumericGreaterThanEquals": 96,
          "Next": "EscalateManagerInaction"
        }
      ],
      "Default": "WaitManagerDecision"
    },
    "EscalateManagerInaction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "EscalateManagerInaction",
        "Payload.$": "$"
      },
      "ResultPath": "$.escalation",
      "Next": "NotifyEscalation"
    },
    "NotifyEscalation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "SendEmployeeNotification",
        "Payload": {
          "request_id.$": "$.request_id",
          "employee_email.$": "$.employee_email",
          "leave_type.$": "$.leave_type",
          "start_date.$": "$.start_date",
          "end_date.$": "$.end_date",
          "status": "ESCALATED"
        }
      },
      "End": true
    },
    "CheckLeaveDuration": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.total_days",
          "NumericGreaterThan": 5,
          "Next": "WaitHrDecision"
        }
      ],
      "Default": "FinalizeLeave"
    },
    "WaitHrDecision": {
      "Type": "Wait",
      "Seconds": 1800,
      "Next": "GetRequestAfterHrWait"
    },
    "GetRequestAfterHrWait": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "GetLeaveRequestStatus",
        "Payload": {
          "request_id.$": "$.request_id"
        }
      },
      "ResultPath": "$.request_state",
      "Next": "EvaluateHrDecision"
    },
    "EvaluateHrDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "REJECTED",
          "Next": "NotifyRejected"
        },
        {
          "Variable": "$.request_state.Payload.status",
          "StringEquals": "HR_APPROVED",
          "Next": "FinalizeLeave"
        }
      ],
      "Default": "WaitHrDecision"
    },
    "FinalizeLeave": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "FinalizeLeave",
        "Payload": {
          "request_id.$": "$.request_id"
        }
      },
      "ResultPath": "$.finalize_result",
      "Next": "NotifyApproved"
    },
    "NotifyApproved": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "SendEmployeeNotification",
        "Payload": {
          "request_id.$": "$.request_id",
          "employee_email.$": "$.employee_email",
          "leave_type.$": "$.leave_type",
          "start_date.$": "$.start_date",
          "end_date.$": "$.end_date",
          "status": "APPROVED"
        }
      },
      "End": true
    },
    "NotifyRejected": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "SendEmployeeNotification",
        "Payload": {
          "request_id.$": "$.request_id",
          "employee_email.$": "$.employee_email",
          "leave_type.$": "$.leave_type",
          "start_date.$": "$.start_date",
          "end_date.$": "$.end_date",
          "status": "REJECTED"
        }
      },
      "End": true
    }
  }
}
